:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #262626;

  .desafio_descricao {
    background-color: #262626;
    min-height: 100vh;
    color: #fff;
    padding: 15px;

    .desafios__entradas {
      margin-bottom: 10px;
    }
  }

  .editor {
    height: calc(100vh - 180px);
  }

  .teste {
    position: relative;
    overflow: hidden;
  }

  .configuracoes {
    background-color: #262626;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 8px;

    ::ng-deep.mat-mdc-form-field-subscript-wrapper {
      height: 0;
    }

    .run-btn {
    }

    ::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field {
      background: #8d8a8a;
      color: #fff;
    }

    ::ng-deep mat-label {
      color: #fff;
    }

    ::ng-deep .mat-mdc-select-min-line {
      color: #fff;
    }

    .configuracoes__language {
      display: flex;
      width: 50%;
      justify-content: center;
      align-items: center;
      border-radius: 12px;

      .item-flex {
        display: flex;
        justify-content: flex-start;
        flex: 1;
        align-items: center;
      }
    }
  }

  .btn-salvar {
    height: fit-content;
    align-items: center;
    color: #28c244;
    font-size: 14px;
    border: 1px solid #28c244;
    outline: none !important;
    font-weight: 500;
    line-height: 21px;
    padding: 8px 12px;
    text-align: center;
  }
}

.editor {
  transition: height 0.5s;
}

.resultado {
  padding: 10px;
  transition: height 0.5s;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #262626;
  border-top: 1px solid #ccc;
  overflow: auto;
  resize: both;
}

.oculto {
}

.added {
  background-color: #d4ffd4;
}

.removed {
  color: #ffd4d4;
}
