<as-split direction="horizontal">
  <as-split-area [size]="25">
    <div class="desafio_descricao" data-track-load="description_content">
      <h1>{{desafio.nome}}</h1>

      <mat-divider></mat-divider>

      <p>{{desafio.descricao}}</p>

      <div class="desafios__entradas">
        <mat-accordion>
          <mat-expansion-panel hideToggle [expanded]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Resultado:
              </mat-panel-title>
              <mat-panel-description>
                Esperado que seu código tenha esta saída:
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let testCase of desafio.testCases; let i = index">
              <p><strong>Entrada {{i+1}}:&emsp; </strong>
                {{(testCase.input.length> 0) ? testCase.input : "Este desafio não contem entradas"}}
                <br>
                <strong>Saída {{i+1}}:&emsp; </strong>{{testCase.expectedOutput}}
                <mat-divider></mat-divider>
              </p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>
  </as-split-area>

  <as-split-area [size]="75">

    <div class="configuracoes ">

      <div class="configuracoes__language ">
        <mat-form-field>
          <mat-label>Linguagem</mat-label>
          <mat-select [(ngModel)]="selectedLanguage">
            <mat-option *ngFor="let language of languages" [value]="language.value">
              {{language.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button class="btn-salvar">Salvar</button>
      <button mat-raised-button (click)="run()">RUN</button>

    </div>

    <div class="editor">
      <ngx-monaco-editor [options]="stdOutEditorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
    <div class="resultado">

    </div>
  </as-split-area>
</as-split>