<as-split direction="horizontal">
  <as-split-area [size]="30">
    <div class="desafio_descricao" data-track-load="description_content">
      <div class="conteudo">
        <h1>{{desafio.nome}}</h1>
        <mat-divider></mat-divider>
        <p>{{desafio.descricao}}</p>
      </div>

      <div class="desafios__entradas">
        <mat-accordion>
          <mat-expansion-panel hideToggle [expanded]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Resultado:
              </mat-panel-title>
              <mat-panel-description>
                Esperado que seu código tenha esta saída:
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let testCase of desafio.testCases; let i = index">
              <p><strong>Entrada {{i+1}}:&emsp; </strong>
                {{(testCase.input.length> 0) ? testCase.input : "Este desafio não contem entradas"}}
                <br>
                <strong>Saída {{i+1}}:&emsp; </strong>{{testCase.expectedOutput}}
                <mat-divider></mat-divider>
              </p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>
  </as-split-area>

  <as-split-area [size]="70" class="teste">

    <div class="configuracoes">

      <div class="configuracoes__language">
        <div class="config item-flex">
          <mat-form-field class="select_linguages">
            <mat-label>Linguagem</mat-label>
            <mat-select [(ngModel)]="selectedLanguage">
              <mat-option *ngFor="let language of languages" [value]="language.value">
                {{language.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button class="btn-salvar" (click)="salvarComoJS()"><mat-icon>{{ isDownloadIcon ? 'download'
              : 'download_done' }}</mat-icon></button>
        </div>
      </div>

      <div class="run-btn item-flex">
        <button class="run" mat-raised-button (click)="run()" [disabled]="loading">
          <span *ngIf="loading">
            <mat-spinner diameter="20"></mat-spinner>
          </span>
          <span *ngIf="!loading">
            Executar teste
          </span>
        </button>
      </div>

    </div>

    <div class="editor" [ngClass]="{'expandido': expandirResultado}">
      <ngx-monaco-editor [options]="stdOutEditorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    </div>



    <div class="resultado" [ngClass]="{'expandido': expandirResultado, 'oculto': !expandirResultado}"
      [ngStyle]="{'height': expandirResultado ? '400px' : '200px'}">

      <button (click)="toggleExpansao()">
        <mat-icon>{{ expandirResultado ? 'expand_mores' :
          'expand_less'}}</mat-icon></button>

      <mat-expansion-panel *ngFor="let testCase of desafio.testCases">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Teste # {{ testCase.id }}
          </mat-panel-title>
          <mat-panel-description *ngIf="result && result.output.length > 0">
            {{ result.isCorrect ? 'Passou' : 'Falhou'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>
          <strong>
            Saída esperada:
          </strong><br />
          {{ testCase.expectedOutput }}
        </p>

        <div *ngIf="loadingResults">
          <strong>
            Sua Saída:
          </strong><br />
          <p>{{result.output}} </p>


          <ng-container *ngIf="!result.isCorrect">
            <p>Diff:</p>

            <span *ngFor="let part of diffOutput(testCase.expectedOutput, result.output)" [style.color]="part.color">
              {{ part.value }}
            </span>
          </ng-container>

        </div>
      </mat-expansion-panel>

    </div>

  </as-split-area>

</as-split>