:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #262626;

  .desafio_descricao {
    background-color: #262626;
    min-height: 100vh;
    color: #fff;
    padding: 15px;

    .desafios__entradas {
      margin-bottom: 10px;
    }
  }
  .editor {
    height: 90vh !important;
  }

  .configuracoes {
    background-color: #262626;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;

    ::ng-deep.mat-mdc-form-field-subscript-wrapper {
      height: 0;
    }

    ::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field {
      background: #8d8a8a;
      color: #fff;
    }

    ::ng-deep mat-label {
      color: #fff;
    }
    ::ng-deep .mat-mdc-select-min-line {
      color: #fff;
    }
    .configuracoes__language {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      margin-right: 15px;
    }
  }

  .btn-salvar {
    height: fit-content;
    align-items: center;
    color: #28c244;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    padding: 8px 12px;
    text-align: center;
  }
}
