<div class="header">

  <div class="logo">
    <img src="assets/images/logo.svg" alt="">
  </div>

  <nav>
    <ul>
      <ng-container *ngIf="!estaLogado">
        <li> <a href="#">Cursos</a></li>
        <li> <a href="#">Sobre o projeto</a></li>
        <li> <a href="#">Depoimentos</a></li>
      </ng-container>
    </ul>
  </nav>

  <div class="btns">
    <button class="btn-entrar" [routerLink]="['/login']">Entrar</button>
    <button class="btn-conta" [routerLink]="['/cadastro']">Criar conta</button>
  </div>

</div>