<div class="header" [style.max-width]="isEditorRoute ? '100%' : '1440px'">

  <div class="logo">
    <img *ngIf="estaLogado; else notLoggedIn" src="assets/images/logo.svg" alt="logo" routerLink="/dashboard">

    <ng-template #notLoggedIn>
      <img src="assets/images/logo.svg" alt="logo" routerLink="">
    </ng-template>

  </div>

  <nav>
    <ul>
      @switch (estaLogado) {
      @case (false) {
      <li> <a href="#">Cursos</a></li>
      <li> <a href="#">Sobre o projeto</a></li>
      <li> <a href="#">Depoimentos</a></li>
      }
      @case (true) {
      <ng-container *ngIf="!editorAberto">
        <li><a href="#">Cursos</a></li>
        <li> <a [routerLink]="['/video']">Meus Cursos</a></li>
      </ng-container>
      }
      }

    </ul>
  </nav>

  <div class="btns">
    @switch (estaLogado) {
    @case (false) {
    <button class="btn-entrar" [routerLink]="['/login']">Entrar</button>
    <button class="btn-conta" [routerLink]="['/cadastro']">Criar conta</button>
    }
    @case (true) {

    <img src="assets/images/header/alert.svg" alt="">

    <div class="avatar">
      <img src="assets/images/header/avatar.svg" alt="">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu perfil">
        <img src="assets/images/header/seta-baixo.svg" alt="">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Perfil</span>
        </button>
        <button mat-menu-item>
          <span>Certificados</span>
        </button>
        <button mat-menu-item>
          <span>Assinatura</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>
    }
    }

  </div>

</div>