<div class="rank">

  <h1 class="title">Ranking Semanal</h1>

  <div class="card">
    <img src="assets/images/rank/avatar1.svg" alt="">

    <div class="card_infos">
      <h1 class="card_name">Gustavo M.</h1>
      <progress id="" max="100" value="80"></progress>
    </div>

  </div>

  <div class="card">
    <img src="assets/images/rank/avatar2.svg" alt="">

    <div class="card_infos">
      <h1 class="card_name">Matheus Sampaio</h1>
      <progress id="" max="100" value="20"></progress>
    </div>

  </div>

  <div class="card">
    <img src="assets/images/rank/avatar3.svg" alt="">

    <div class="card_infos">
      <h1 class="card_name">Juliana Alves</h1>
      <progress id="" max="100" value="80"></progress>
    </div>

  </div>

  <div class="card">
    <img src="assets/images/rank/avatar4.svg" alt="">

    <div class="card_infos">
      <h1 class="card_name">Thomaz Coelho</h1>
      <progress id="" max="100" value="50"></progress>
    </div>

  </div>
  <div class="card">
    <img src="assets/images/rank/avatar5.svg" alt="">

    <div class="card_infos">
      <h1 class="card_name">Lucas Alves</h1>
      <progress id="" max="100" value="60"></progress>
    </div>

  </div>

  <a href="#">Ver todos</a>

</div>