<app-header></app-header>
<!-- <div class="sidebar">
  <button mat-ripple type="button" class="sidebar-button">
    Run
  </button>

  <div class="sidebar-divider"></div>

  <button mat-ripple type="button" class="sidebar-button">
    a
  </button>

  <button mat-ripple type="button" class="sidebar-button">
    a
    <input #fileInput type="file" hidden accept=".por,text/plain" />
  </button>

  <button mat-ripple type="button" class="sidebar-button">
    a
  </button>

  <div class="sidebar-divider"></div>

  <button mat-ripple type="button" class="sidebar-button">
    a
  </button>
</div> -->

<router-outlet></router-outlet>