:host {
  .cadastro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 120px 85px;
    overflow-y: auto;
    margin: 0 auto;
    max-width: 1300px;
    .cadastro__info {
      flex: 1 1 200px;
      max-width: 506px;
      h1 {
        color: #fff;
        font-family: Chakra Petch;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .cadastro__form {
      display: flex;
      flex-direction: column;

      .title {
        margin-bottom: 21px;

        h1 {
          color: #fff;
          font-family: Chakra Petch;
          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        p {
          color: #fff;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container_input {
          display: flex;
          flex-direction: row;
          -webkit-box-align: center;
          align-items: center;
          width: 100%;
          padding: 0px 0.2rem;
          margin: 0.5rem 0px;
          border-bottom: 3px solid #82bdff;
          stroke-width: 3px;
          stroke: #82bdff;
          filter: drop-shadow(-1px 2px 4px #3379be);
          background-color: transparent;
          position: relative;
          transition: border-color 0.15s ease 0s;
          margin-bottom: 15px;

          input {
            flex: 1 1 0%;
            background: transparent;
            border: 0px;
            outline: 0px;
            color: rgb(255, 255, 255);
            line-height: 2;
            height: 35px;
            overflow: visible;
            line-height: 1.15;
            margin: 0;
            color: #fff;
            font-family: Inter;
            font-size: 20px;
            font-style: italic;
            font-weight: 500;
            line-height: normal;

            &::placeholder {
              color: #fff;
            }
          }
        }

        .container-btn {
          display: inline-flex;
          justify-content: flex-end;
          align-items: center;
          margin-top: 45px;

          button {
            width: 494px;
            color: #fff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Inter;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-radius: 10px;
            background: #3278bd;
            box-shadow: 0px 0px 10px 0px rgba(130, 189, 255, 0.8);
          }
        }
      }
      .acessorios {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .acessorios_link {
          width: 247px;
        }
      }
    }
  }

  // @media (max-width: 1300px) {
  //   .imagem {
  //     display: none !important;
  //   }
  // }
}
