<div class="cadastro">

  <div class="cadastro__info">
    <h1 id="typewriter-text">{{ typedText }}</h1>
  </div>
  <div class="cadastro__form">
    <div class="title">
      <h1>Faça seu cadastro!</h1>
      <p>Insira os dados abaixo e crie sua conta.</p>
    </div>

    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">

      <div class="container_input">
        <img src="assets/images/cadastro/nomeIcone.svg" alt="">
        <input type="text" formControlName="completeName" placeholder="Nome completo *" required>
      </div>

      <div class="container_input">
        <img src="assets/images/cadastro/emailIcone.svg" alt="">
        <input type="email" formControlName="email" placeholder="E-mail *" required>
      </div>
      <div class="container_input">
        <img src="assets/images/cadastro/senhaIcone.svg" alt="">
        <input type="password" formControlName="password" placeholder="Senha *" required>
      </div>

      <div class="container-btn">
        <button type="submit">Crie sua conta grátis!</button>
      </div>
    </form>
  </div>


</div>