:host {
  .home {
    margin: 0;
    .conteudo {
      margin: 0 auto;
      max-width: 1400px;
      padding: 40px 85px;
      min-height: 100vh;
      display: flex;
      justify-content: space-between;
      .conteudo__infos {
        max-width: 516px;
        margin-top: 80px;

        h1 {
          color: #fff;
          font-family: Chakra Petch;
          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        button {
          margin-top: 60px;
          border-radius: 10px;
          background: #3278bd;
          color: #fff;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding: 8px 42px;
        }
      }
    }

    .conteudo-cursos {
      max-width: 1400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      justify-content: center;
      margin: 0 auto;
      min-height: 100vh;
      .title {
        text-align: center;
        color: #fff;
        font-family: Chakra Petch;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .wrapper {
        display: flex;
        justify-content: space-around;

        .card_cursos {
          padding: 64px 30px;

          max-width: 410px;
          border-radius: 10px;
          border: 5px solid #367bbf;
          background: linear-gradient(180deg, #3278bd 0%, #6094cc 100%);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          .wrapper-item {
            h1 {
              max-width: 234px;
              color: #fff;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              font-family: Chakra Petch;
              font-size: 45px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
          ul {
            padding: 0;
            li {
              list-style: none;
              color: #fff;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              font-family: Chakra Petch;
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
    }
    .conteudo_depoimento {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        h1 {
          color: #fff;
          font-family: Chakra Petch;
          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      .wrapper_aluno {
        display: flex;
        flex-direction: row;
        gap: 50px;
        .card {
          border-radius: 15px;
          border: 5px solid #fff;
          background: rgba(217, 217, 217, 0);
          color: #fff;
          max-width: 600px;
          .card__depoimento {
            color: #fff;
            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Inter;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .card__title {
            color: #fff;
            text-shadow: 0px 4px 4px #367bbe;
            font-family: Chakra Petch;
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
  }
}
