<div class="home">


  <div class="conteudo">

    <div class="conteudo__infos">
      <h1 class="animate__animated animate__rubberBand">Dê aquele up na sua carreira com a gente</h1>
      <button>Conheça nosso projeto</button>
    </div>

    <img src="assets/images/home/telas.svg" alt="">

  </div>

  <div class="conteudo-cursos">
    <h1 class="title">Conheça nossos cursos</h1>

    <div class="wrapper">
      <div class="card_cursos" *ngFor="let jornada of catalogo;let i = index">
        <div class="wrapper-item">
          <h1>{{jornada.nome }}</h1>
        </div>
        <ul>
          <li *ngFor="let linguagem of jornada.linguagens">{{ linguagem }}</li>
        </ul>
      </div>
    </div>

    <div class="conteudo_depoimento">
      <h1 class="title">Depoimentos</h1>

      <div class="wrapper_aluno">
        <div class="card" *ngFor="let depoimento of depoimentos">
          <div class="card_infos">
            <img [src]="depoimento.image" alt="">
            <h1 class="card__title">{{depoimento.nome }}</h1>
          </div>

          <p class="card__depoimento">{{depoimento.depoimento}}</p>
        </div>
      </div>


    </div>



  </div>
</div>