* {
  box-sizing: border-box;
}

html,
body,
app-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(0deg, #9874f1 -17.89%, #713fec 28.6%, rgba(0, 0, 0, 0.85) 64.43%, #000 79.72%);
}

.as-split-gutter {
  background-color: #414141 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
