<div class="dashboard">

  <div class="conteudo">

    <div class="curso-atual">
      <h1>Curso em andamento</h1>
      <div class="card_curso_atual">

        <div class="card-curso">

        </div>

        <div class="progresso">

          <progress max="100" value="50"></progress>
          <span>50% concluído</span>
        </div>
      </div>

    </div>


    <app-rank></app-rank>
  </div>


  <div class="desafios">

    <h1> Desafios da Semana</h1>
    <p>Fique entre os melhores alunos da semana!</p>

    <div class="cards">
      <div class="card">

      </div>
      <div class="card">

      </div>
      <div class="card">

      </div>

    </div>

  </div>

  <div class="material">
    <h1>Material complementar</h1>
    <p>Artigos para você estudar</p>
    <div class="artigos">
      <div class="artigo_card">
      </div>
      <div class="artigo_card">
      </div>
      <div class="artigo_card">
      </div>
      <div class="artigo_card">
      </div>
    </div>


  </div>
</div>