:host {
  .player {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 190px 85px;
    a {
      text-decoration: none;
      list-style: none;
      color: #fff;
      font-family: Chakra Petch;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .conteudo {
      display: flex;
      flex-direction: column;
      max-width: 1300px;
      .title {
        color: #fff;
        font-family: Chakra Petch;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .youtube-player {
        width: 853px;
        height: 488px;
        border-radius: 10px;
        border: 4px solid #fff;
        background: #000;
        iframe {
          border: 1px solid #ccc;
          border-radius: 8px;
          width: 100%;
          height: 480px;
        }
        .opcoes {
          margin-top: 29px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .obs {
            display: flex;
            align-items: center;
          }
          svg {
            margin-right: 15px;
          }

          a:last-child {
            margin-right: 35px;
          }
        }
      }
    }

    .video-list {
      padding-left: 16px;
      border-left: 2px solid #fff;
      display: flex;
      flex-direction: column;
      .card-video {
        display: flex;
        flex-direction: row;
        svg {
          margin-right: 11px;
        }

        > :not(:last-child) {
          margin-bottom: 10px;
        }

        .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h1 {
            color: #fff;
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          p {
            color: #fff;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
  }
}
