<div class="player">

  <div class="conteudo">
    <h1 class="title">Jornada Back-End</h1>

    <div class="youtube-player">
      <iframe src="https://www.youtube.com/embed/Qjk-cSW-jk4" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>

      <div class="opcoes">
        <div class="obs">
          <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 6.68L0 6.66667V9.33333H24V6.68ZM0 13.3333H16V16H0V13.3333ZM24 0H0V2.68L24 2.66667V0Z"
              fill="white" />
          </svg>
          <a href="">Adicionar observações</a>
        </div>
        <a href="">Editor de código</a>
      </div>

    </div>

  </div>

  <div class="video-list">
    <div class="card-video">

    </div>

  </div>


</div>